{% extends "base.html"%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
    
      <label>first_name</label>
       <input id="title" name="firtst_name" type="text"  class="textbox"/><br>
      <label>last_name</label>
        <input id="relase" name="last_nmae" type="password"  class="textbox"/><br>
       <label>film</label>
    <select id="" name="frim">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select><br>
       <input type="submit" >

</form>
</body>
</html>
{% endblock %}