{% extends "base.html"%}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="">
      <label>title</label>
       <input id="title" name="title" type="text"  class="textbox"/><br>
      <label>Release_date</label>
        <input id="relase" name="release_date" type="password"  class="textbox"/><br>

       <label>category</label>
        <input id="category" name="category" type="text"  class="textbox"><br>

         <label>countrty</label>
         <input id="country" name="country" type="text"  class="textbox"/><br>
       <input type="submit" >

</form>
</body>
</html>
{% endblock %}